# Udemy work

---

## Section 4: Comparision Operators

### Equality

In [1]:
#cannot use ONE = because python will think you're assigning a variable
2 == 2

True

In [2]:
2 == 1

False

In [3]:
'hello' == 'bye'

False

In [4]:
#when using strings, upper and lower case matter
'Bye' == 'bye'

False

In [5]:
#string 2 is not the same as integer 2
'2' == 2

False

In [6]:
#floats and integers are equal
2.0 == 2

True

### Inequality

In [7]:
2 != 2

False

In [8]:
2 != 1

True

### Less than /greater then

In [9]:
#greater then
2 >1

True

In [10]:
1>2

False

In [11]:
#less then
1<2

True

In [12]:
#less then or equal to
4 <=2

False

In [13]:
#greater then or equal to
4 >=2

True

## Chaining Comparision Operators
- Logical Operator
    -  and, or & not

In [14]:
#can use this basic format or you can use the comparison operators below!
1 < 2 < 3

True

### 'and' keyword
- requires that **both** items be true

In [15]:
#and keyword
1 < 2 and 2>3

False

In [16]:
#can use () or not - preference
('h' == 'h') and (2 == 2)

True

### 'or' keyword
- requires that only **one** item be true

In [17]:
1 ==1 or 2==2

True

In [18]:
1 == 1 or 2 ==4

True

### 'not' keyword
- return opposite boolean

In [19]:
#this is clearly true
1 == 1

True

In [20]:
#this will give you the opposite of accurate response
not(1 == 1)

False

In [21]:
2 <3 >10

False

<hr style="border:2px solid black"> </hr>

# Section 5: Python Statements

---

## if, elif, else Statements
    - controls flow of logic
    
**Control Flow syntax**: 
    - makes use of white space and indentations 

**Example:**
- if some_condition:
   - execute some code
- else some_other_condition:
   - execute another code

In [22]:
if True:
    print('its true!')

its true!

In [23]:
if 3>2:
    print('is true')

is true

In [24]:
hungry = True
if hungry:
    print('feed me')

feed me

In [25]:
hungry = True

if hungry:
    print('feed me')
else:
    print('Im not hungry')

feed me

### multiple branches

In [26]:
loc= 'Bank'
if loc == 'Auto Shop':
    print('Cars are cool')
else:
    print('i do not know much')

i do not know much

In [27]:
loc= 'Bank'
if loc == 'Auto Shop':
    print('Cars are cool')
elif loc =="Bank":
    print('Money is cool')
elif loc == 'Store':
    print('Welcome to the store')
else:
    print('i do not know much')

Money is cool

In [28]:
loc= 'Game'

if loc == 'Auto Shop':
    print('Cars are cool')
elif loc =="Bank":
    print('Money is cool')
elif loc == 'Store':
    print('Welcome to the store')
else:
    print('i do not know much')

i do not know much

In [29]:
name = 'Sammy'

if name == 'Frankie':
    print('Hello Frankie')
elif name == 'Sammy':
    print('Hello Sammy')
else:
    print('What is your name?')

Hello Sammy

---

## For Loops
- can use **for loops** to execute a block of code for every iteration
- **iterable**: perform an action for everything in an object
    - ex: can iterate over every key in a dictionary

In [30]:
#variable
my_iterable = [1,2,3] #this is a list
#item_name: place holder , my_iterable: variable name
for item_name in my_iterable: #place holder variable
    print(item_name)

1
2
3

In [31]:
#do not use 'list' as variable name, it is a keyword
mylist= [1,2,3,4,5,6,7,8,9,10]

In [32]:
#for loop to iterate through every item in this list
for num in mylist: #'num' can be any variable name
    print(num)

1
2
3
4
5
6
7
8
9
10

In [33]:
#print out only even numbers
for num in mylist:
    #check for even numbers
    if num % 2 == 0:
        print(num)

2
4
6
8
10

In [34]:
#print out only odd numbers
for num in mylist:
    #check for even numbers
    if num % 2 != 0:
        print(num)

1
3
5
7
9

In [35]:
#combine for loops with control flow
for num in mylist:
    #check for even numbers
    if num % 2 != 0:
        print(num)
    else:
        #f string literal
        print(f'Odd number: {num}')

1
Odd number: 2
3
Odd number: 4
5
Odd number: 6
7
Odd number: 8
9
Odd number: 10

In [36]:
#identify variable called list_sum
list_sum = 0

#add 0 to every number in my_list
for num in mylist:
    list_sum = list_sum + num
    
#outside of for loop, print the total    
print(list_sum)

55

In [37]:
#identify variable called list_sum
list_sum = 0

#add 0 to every number in my_list
for num in mylist:
    list_sum = list_sum + num
    
    #inside for loop, you'll get running tally  
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [38]:
mystring= 'Hello World'
for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [39]:
#if not identifying variable
for letter in 'Hello World':
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [40]:
#for loop for tuple
tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

In [41]:
#list with tuple pairs as items in that list
mylist = [(1,2),(3,4),(5,6),(7,8)]

In [42]:
#get length of the mylist
len(mylist)

4

In [43]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

### tuple unpacking
- duplicate the structure of the items (tuples) then unpack them to access individual items

In [44]:
#tuple unpacking
for (a,b) in mylist:
    print(b)

2
4
6
8

In [45]:
mylist = [(1,2,3),(5,6,7),(8,9,10)]
for item in mylist:
    print(item)

(1, 2, 3)
(5, 6, 7)
(8, 9, 10)

In [46]:
for a,b,c in mylist:
    print(b)

2
6
9

### iterate through a dictionary
- by default when working through a dictionary, you only iterate through the 'keys'
- use tuple unpacking to print items and not just keys
- dictionaries are not actually ordered

In [47]:
d = {'k1': 1, 'k2': 2, 'k3': 3,}

for item in d:
    #this will only print the keys
    print(item)

k1
k2
k3

In [48]:
#call the actual dictionary to print item itself
for item in d.items():
    #this will print the actual item, not just keys
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [49]:
#call the actual dictionary to print item itself
for key,value in d.items():
    #use tuple unpacking to print only value
    print(value)

1
2
3

---

## While Loops
- continue to execute a block of code **while** a condition is true
    - ex: while my dog is still hungry,
        - keep feeding my dog

#syntax
while some_boolean_condition:
    do something

In [50]:
x = 0

while x < 5:
    print(f'The current value of x is {x}')
    x = x + 1

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4

In [51]:
#add else statement to while loop
x = 0

while x < 5:
    print(f'The current value of x is {x}')
    x = x + 1
else:
    print('X is not less than 5')

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
X is not less than 5

In [52]:
#if x is greater then the condition (x <5) then the while loop will never run 
x = 50

while x < 5:
    print(f'The current value of x is {x}')
    x = x + 1
else:
    print('X is not less than 5')

X is not less than 5

### Key words:
- **break**: breaks to of the current closest enclosing loop
- **continue**: goes to the top of the current closest enclosing loop
- **pass**: does nothing at all

In [53]:
#pass keyword
x = [1,2,3]

for item in x:
    # comment
    pass #this is placeholder to avoid syntax error

print('end of my script')

end of my script

In [54]:
#continue keyword
mystring = 'Sammy'

for letter in mystring:
    print(letter)

S
a
m
m
y

In [55]:
for letter in mystring:
    #if letter is a, continue and go back to the loop
    if letter == 'a':
        continue
    print(letter)

S
m
m
y

In [56]:
#break keyword
for letter in mystring:
    #breaks loop when letter a is found
    if letter == 'a':
        break
    print(letter)

S

In [57]:
#break with a while statement
x = 0

while x <5:
    #if x equals 2, break the loop
    if x ==2:
        break
    print(x)
    x += 1

0
1

---

## Useful Operators

### Range:
   - **generator**: a special function that will generate info instead of saving it all to memory

In [58]:
#range is exclusive- all numbers UP TO the number requested
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [59]:
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [60]:
# final number is step (x,x,2) means we count by 2s
for num in range(0,10,2):
    print(num)

0
2
4
6
8

In [61]:
#another way to accomplish same task
##list of range with step of 2
list(range(0,10,2))

[0, 2, 4, 6, 8]

### Enumerate

In [62]:
index_count = 0

for lettter in 'abcde':
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is a
At index 2 the letter is a
At index 3 the letter is a
At index 4 the letter is a

In [63]:
index_count = 0
word = 'abcde'

for lettter in word:
    
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [64]:
word = 'abcde'

In [65]:
#automatic index count in for of tuples
for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [66]:
#using tuple unpacking
for index, letter in enumerate(word):
    print(index)
    print(letter)
    print('\n') #create a blank line

0
a


1
b


2
c


3
d


4
e

### Zip function
- basically joins to lists together
- if lists do not have the same number of itmes... it will only use the shortest list and ignore the rest

In [67]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']
mylist3 = [100, 200, 300]

In [68]:
for item in zip(mylist1, mylist2, mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [69]:
#another way to zip
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

### in operator
- will return a boolean if request is in a list, dictionary key, or string

In [70]:
'x' in [1,2,3]

False

In [71]:
#in a list
2 in [1,2,3]

True

In [72]:
#in a string
'a' in 'a world'

True

In [73]:
#in a dictionary- uses key only
'mykey' in {'mykey': 345}

True

In [74]:
#to check values in dictionary (not the key) must specify location
##mykey = key, 345= value
d = {'mykey': 345}

345 in d.values()

True

### Min, Max and Random Libraries

In [75]:
mylist = [10,20,30,40,100]

In [76]:
min(mylist)

10

In [77]:
max(mylist)

100

In [78]:
#import library- shuffle function
##shuffles a list
from random import shuffle

In [79]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [80]:
#use shuffle function
shuffle(mylist)

In [81]:
#call mylist already shuffled
mylist

[9, 4, 5, 10, 1, 7, 3, 6, 8, 2]

In [82]:
#import library- randint function
##grabs a random integer
from random import randint

In [83]:
#random integer from this range
randint(0,10)

1

In [84]:
#save as a variable to use later
mynum= randint(0,10)
mynum

6

### input
- have user input information requested
- always excepts anything that is passed into it as a **string**

In [85]:
input('enter a number here')

enter a number here30

'30'

In [86]:
#would typically save a  variable result to use later
result = input('What is your name? ')

What is your name? tasha

In [87]:
#call result
result

'tasha'

In [88]:
#would typically save a  variable result to use later
favnum = input('What is your favorite number? ')
favnum

What is your favorite number? 3

'3'

In [89]:
#see datatype of favnum, because it was from input, it will be a string
type(favnum)

str

In [90]:
#retrieve favnum as an integer
int(favnum)

3

In [91]:
#in order to retrieve the result as an integer alredy must CAST the input
favnum2 = int(input('What is your favorite number? '))
favnum2

What is your favorite number? 3

3

In [92]:
#see datatype of favnum2- should be int because input was cast as int
type(favnum2)

int

---

## List Comprehension
- unique way of quickly creating a list
- for loop with .append
- **Syntax**: variable = [element for element in string]

In [93]:
mystring = 'hello'

In [94]:
#create an empty list
mylist= []

#iterate through my string
for letter in mystring:
    #call specific location
    mylist.append(letter)

In [95]:
#call mylist
mylist

['h', 'e', 'l', 'l', 'o']

In [96]:
#more efficient way- list comprehension
mylist= [letter for letter in mystring] #flattened out for loop
mylist

['h', 'e', 'l', 'l', 'o']

In [97]:
#list comp- 
mylist = [x for x in 'word']
mylist

['w', 'o', 'r', 'd']

In [98]:
mylist = [num for num in range(0,11)]
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [99]:
#can run equations on list comprehensions
mylist = [num**2 for num in range(0,11)]
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [100]:
#can add if statements
##only grab even numbers
mylist= [x for x in range (0,11) if x %2 ==0]
mylist

[0, 2, 4, 6, 8, 10]

In [101]:
#list of numbers in celcius
celcius = [0,10,20,34.5]

#calculate fahrenheit using list compr
fahrenheit = [( (9/5)*temp + 32) for temp in celcius]

In [102]:
#call degrees in fahrenheit
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [103]:
#long way of doing this using for loop:
## create empty list
fahrenheit = []

#for loop
for temp in celcius:
    #append calculation to convert from celcius
    fahrenheit.append(( (9/5)*temp + 32))

In [104]:
#call degrees fahrenheit
fahrenheit

[32.0, 50.0, 68.0, 94.1]

### if/ else statements inside list comprehension
- not ideal way of doing this
- can be difficult to read later

In [105]:
#if even- print out, if odd- print odd
results = [x if x%2 == 0 else 'ODD' for x in range (0,11)]
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

### Nested Looop

In [106]:
#create empty list
mylist = []

#first list- x
for x in [2,4,6]:
    #second list- y
    for y in [1,10,1000]:
        mylist.append(x*y)

In [107]:
#call mylist
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [108]:
#somewhat difficult to read
mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

<hr style="border:2px solid black"> </hr>

# Section 6: Methods and Functions

---

## Methods & Documentation

### Methods
- .append()
- .pop()
<br>

- hit .'tab': will give you all options
- hit 'shift' + 'tab': will give you info for that method

### Documentation
- help
- look at documentation

In [109]:
mylist = [1,2,3]

In [110]:
#add to
mylist.append(4)
#look at new list
mylist

[1, 2, 3, 4]

In [111]:
#remove last item on list
mylist.pop()
#look at list
mylist

[1, 2, 3]

In [112]:
#get docstring on this method
help(mylist.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

---

## Intro to Functions
- Functions allow us to create blocks of code that can be easily rerun multiple times **without** having to rewrite that code
- requires correct indendation and structure

<br>

- **def** keyword: starts off the function
<br>

- **"snake casing"**: this is where we name the function
    - using all lowercase letters with unscores between the words
<br>

- **( )**: at the end of snake casing
    - can pass parameters/arguments through it
    - must have parenthasis when calling the function or it will not run. Python will just tell you it ***is** a function
    <br>
    
- **docstring**: identified by triple quotes. multi-line comment explaining what the function does
<br>

- **return** keyword: allows us to assign output of function to a new variable
    - can save the result to a variable

In [113]:
#syntax
def name_of_function(): #snake casing
    '''
    this function prints out hello world. #docstring
    '''
    print('Hello World')

In [114]:
#call newly created function
name_of_function()

Hello World

In [115]:
#more complex with a parameter put in as argument

In [116]:
name_of_function

In [117]:
#syntax
def name_of_function(name):
    '''
    This function prints out hello and the name input by user.
    '''
    print("Hello" + name)

In [118]:
#call this version of function
name_of_function('Jose')

HelloJose

In [119]:
def add_function(num1,num2):
    '''
    This function takes in two arguments/parameters 
    and returns the result of those arguments
    '''
    return num1 + num2

In [120]:
#save to a variable
results = add_function(1,2)
#call new variable
results

3

### Basic Functions in Python

In [121]:
#create function
def say_hello():
    print('Hello,')
    print('how')
    print('are')
    print('you')

In [122]:
#call new function
say_hello()

Hello,
how
are
you

In [123]:
#create function with name parameter
def say_hello(name):
    '''
    This function takes in a name parameter
    and prints Hello name
    '''
    print(f'Hello {name}')

In [124]:
#call the function with name parameter
say_hello('Jose')

Hello Jose

In [125]:
#needs name as parameter
##without name an error will be sent
say_hello()

TypeError: say_hello() missing 1 required positional argument: 'name'

In [126]:
#create function with name parameter
##create a default for name if one is not entered so there is no error
def say_hello(name = 'Default'):
    '''
    This function takes in a name parameter
    and prints Hello name
    '''
    print(f'Hello {name}')

In [127]:
#no parameter is entered
##now with default there is no error
say_hello()

Hello Default

In [128]:
#create addition function
def add_num(num1,num2):
    '''
    This function takes in two numbers 
    and returns their sum
    '''
    return num1+num2

In [129]:
#create new variable to save results of function
add_results = add_num(3,5)
#call new variable
add_results

8

In [130]:
def print_result(a,b):
    '''
    This function takes in two parameters
    and prints the results
    '''
    print(a+b)

In [131]:
def return_result(a,b):
    '''
    This function takes in two parameters
    and returns the results
    '''
    return(a+b)

In [132]:
#call function
print_result(10,20)

30

In [133]:
#save to variable
p_result = print_result(10,20)

30

In [134]:
#call variable
##nothing will be return because you CANNOT save a variable from a PRINT function
p_result

In [135]:
#data type of p_result is NONE so we cannot save to variable
type(p_result)

NoneType

In [137]:
#call return function
return_result(10,20)

30

In [140]:
#save to variable
r_result = return_result(10,20)

In [139]:
#call variablae
##it CAN be saved because the function contains RETURN not print
r_result

30

In [141]:
#create function
def sum_numbers(num1,num2):
    return num1+num2

In [142]:
#call function
sum_numbers(10,20)

30

In [143]:
#what if datatype is NOT an int or float?
##because this input is a string, it will concat (paste) the two together
sum_numbers('10', '20')

'1020'

---

## Logic with Python Functions

**Logic**:
- for loops
- while loops
- if statements
- else statements

### Mod Operator
- if trying to find out if the number is even... 
    - we would do: % 2 == 0

In [1]:
#mod operator- remainder after division
2 % 2

0

In [3]:
41 % 40

1

In [4]:
#is 21 even?
21 % 2 == 0

False

In [5]:
#is 22 even
22 % 2 ==0

True

In [9]:
#create function using mod to find even numbers
def even_check(number):
    return number % 2 == 0

In [10]:
#use function to check if 20 is even
even_check(20)

True

In [11]:
#use function to check if 21 is even
even_check(21)

False

In [13]:
#check if any number in the LIST is even
def check_even_list(num_list):
    #go through every number in list
    for number in num_list:
        #very first number that is even
        if number % 2 == 0:
            #return true
            return True
        #if its odd
        else:
            pass

In [14]:
#check odd list
##nothing will be returned because function passes
check_even_list([1,3,5])

In [16]:
#check list with one even number
check_even_list([1,3,6])

True

In [17]:
#check if any number in the LIST is even
def check_list(num_list):
    #go through every number in list
    for number in num_list:
        #very first number that is even
        if number % 2 == 0:
            #return true
            return True
        #if its odd
        else:
            pass
    #complete entire loop then return false if there is no even   
    return False

In [19]:
check_list([1,3,5])

False

In [20]:
check_list([1,3,2])

True

In [21]:
#return all even numbers in a list
def return_even(num_list):
    
    #create empty list
    even_numbers = []
    
    #for every number in the list
    for number in num_list:  
        if number % 2 == 0:
            #when you find an even number, add it to the list
            even_numbers.append(number)
        else:
            pass
    return even_numbers

In [22]:
#use function on list of odd numbers
##returns empty list because there are no evens present
return_even([1,3,5])

[]

In [23]:
#use function on list of odd numbers
##returns only the even numbers
return_even([1,2,3,4,5,6])

[2, 4, 6]

---

## Tuple Unpacking with Functions
- returning multiple items using a function

In [1]:
#list of tuples
##ticker and stock prices
stock_prices = [('APPL', 200),('GOOG', 400),('MSFT', 100)]

In [3]:
for item in stock_prices:
    print(item)

('APPL', 200)
('GOOG', 400)
('MSFT', 100)

In [4]:
#tuple unpacking
##individually grab the items from tuple
for ticker,price in stock_prices:
    print(ticker)

APPL
GOOG
MSFT

In [5]:
#use tuple unpacking in a for loop to pull out just the price
for ticker,price in stock_prices:
    print(price)

200
400
100

In [ ]:
#return unpacked tuple using a function

In [6]:
#list of tuples containing an employee and number of hours worked that month
work_hours = [('Abby', 100),('Billy',400),('Cassie',800)]

In [9]:
#find employee of the year by most hours worked
##return name and hours worked
def employee_check(work_hours):
    '''
    This function goes through all tuples
    and returns name and number of hours for most hours worked
    '''
    current_max = 0 #start off at 0, go through each employee and reset if more than 0
    employee_of_month = ''
    
    for employee, hours in work_hours:
        if hours > current_max:
            current_max = hours
            employee_of_month = employee
        else:
            pass
        
    return (employee_of_month, current_max)

In [10]:
#check function
employee_check(work_hours)

('Cassie', 800)

In [11]:
#change number of hours to confirm function works
work_hours = [('Abby', 1000),('Billy',400),('Cassie',800)]

In [12]:
#re-check function
employee_check(work_hours)

('Abby', 1000)

In [13]:
#assign variable for tuple and assign it to the function 
name, hours = employee_check(work_hours)

In [14]:
#call new variable
name, hours

('Abby', 1000)

In [15]:
#unpack the tuple
name

'Abby'

---

## Interactions between Functions